<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://
mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.sale.dao.ProductDao">
    <select id="getProduct" parameterType="int" resultType="com.netease.sale.meta.Product">
        select *  from product where productId = #{productId}
    </select>

    <select id="getProductList"  resultType="com.netease.sale.meta.Product">
        select *  from product
    </select>
    <select id="sellerProductList"  resultType="com.netease.sale.meta.Product">
        select *  from product where owner=#{owner}
    </select>
    <select id="getProductId" resultType="com.netease.sale.meta.Product">
        select * from product where title=#{title} and abstracts=#{abstracts} and pictureURL=#{pictureURL} and detail=#{detail} and price=#{price} and owner=#{owner} and saleout=0
    </select>
    <insert id="addProduct" parameterType="com.netease.sale.meta.Product"
            useGeneratedKeys="true">
        insert into product(title, abstracts, pictureURL, detail, price, owner,saleout)
        values(#{title},#{abstracts},#{pictureURL},#{detail},#{price},#{owner},0)

        <selectKey keyProperty="productId" resultType="int" order="AFTER" >
            select last_insert_id() as productId
        </selectKey>
    </insert>

    <update id="updateProduct" parameterType="com.netease.sale.meta.Product">
        update product set title=#{title},abstracts=#{abstracts},pictureURL=#{pictureURL},detail=#{detail},price=#{price}
        where productId=#{productId}
    </update>

    <delete id="deleteProduct" parameterType="int">
        delete from product where productId=#{productId}
    </delete>

    <update id="batchUpdateProducts" parameterType="java.util.List">

        <foreach collection="productList" index="index" item="productItem" open="" separator=";" close="">
            update product
            <set>
                saleout=#{productItem.saleout}
            </set>
              where productId = #{productItem.productId}
        </foreach>
    </update>
</mapper>